{% extends "base.html" %}
{% block content %}
<section class="center-card small-card">
    <span class="badge">💗 Welcome back</span>
    <h1>Connexion</h1>
    <form method="post" class="form">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Mot de passe</label>
        <input type="password" name="password" required>

        <div class="forgot-line">
            <a href="{{ url_for('forgot_password') }}">Mot de passe oublié ?</a>
        </div>

        <button class="btn primary full">Se connecter</button>
    </form>
</section>
{% endblock %}
